---
// @ts-ignore
import MobileMenuFooter from "virtual:starlight/components/MobileMenuFooter";
import SidebarSublist from "./SidebarSublist.astro";

const { sidebar = [] } = Astro.locals.starlightRoute;
---

<SidebarSublist sublist={sidebar as any} nestedCount={0} />
<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>

<style is:global>
  /* Hide markers for summaries (should be hidden by default, but showed again when changing stuff) */
  summary::marker,
  summary::-webkit-details-marker {
    display: none !important;
    background-image: none !important;
    -webkit-appearance: none !important;
  }

  summary.hidden {
    display: none;
  }

  /* Make sure links only have the width they need in the sidebar */
  .sidebar a {
    width: fit-content;
    transition:
      color 0.1s ease,
      background-color 0.1s ease,
      border-color 0.1s ease;
  }

  @media (max-width: 49.999rem) {
    .sidebar a {
      width: 100%;
    }
  }

  /* Make sure mobile links fill the entire space, not just fit the content */
  nav[aria-labelledby="starlight__on-this-page--mobile"] a {
    width: 100%;
  }

</style>
