/* Specify colors. NOTE: YOU CAN CUSTOMIZE THESE HOWEVER YOU WANT! */
:root {
  /* Font */
  --sl-font: 'Space Grotesk', sans-serif;
  --sl-font-system-mono: "Space Mono", monospace;

  /* Dark mode colors */
	--sl-color-accent-low: #3c0017;
	--sl-color-accent: #bd0249;
	--sl-color-accent-high: #ff78ac;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #c2c2c2;
	--sl-color-gray-2: #a3a3a3;
	--sl-color-gray-3: #838383;
	--sl-color-gray-4: #3f3f3f;
	--sl-color-gray-5: #262626;
	--sl-color-gray-6: #121212;
	--sl-color-black: #070707;

	--sl-color-red-low: #3c0017;
  --sl-color-red: #bd0249;
	--sl-color-red-high: #ff78ac;

  --sl-color-purple-low: #33225b;
  --sl-color-purple: #8a5cf5;
  --sl-color-purple: #9975ee;
  
  --sl-border: #262626;
  --pagefind-ui-border: #262626;
  --pagefind-ui-primary: var(--sl-color-accent);

  --sl-icon-size: 1.25rem;
}

/* Change background color of sidebar & add border */
#starlight__sidebar {
  background-color: var(--sl-color-black);
  border-right: 1px solid var(--sl-border);
}

/* Change background of header & add border */
header.header {
  background-color: var(--sl-color-black);
  border-bottom: 1px solid var(--sl-border);
}

/* Remove the border for the theme selector since it is disabled */
.social-icons::after {
  border: none;
}

/* Add a gap to the now split + flex site title */
.site-title {
  gap: 1rem;
}

/* Reduce the image size of the site title */
.site-title img {
  height: calc((var(--sl-nav-height) - 2 * var(--sl-nav-pad-y)) - 6px);
}

.site-title > span {
  display: flex;
  gap: 0.5rem;
  color: var(--sl-color-white);
}

/* Change link color for icons from accent-light to white */
.social-icons a {
  color: var(--sl-color-white);
}

/* Add border-radius to card, change padding, add transition */
.card, .sl-link-card {
  border-radius: 12px !important;
  padding: 1.5rem !important;
  transition: all 0.1s ease;
}

/* Change widths of content */
.main-pane {
  width: calc(100% - (var(--sl-sidebar-width))) !important;
}

.right-sidebar-panel {
  width: var(--sl-sidebar-width);
}

.sl-container {
  margin-left: 0 !important;
  max-width: none !important;
}

/* Add a border to the footer,  */
.page-footer {
  border-top: 1px solid var(--sl-color-gray-6);
  padding: 1.5rem var(--sl-content-pad-x);
  font-size: var(--sl-text-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Adjust padding on pages with hero component */
.hero ~ footer .page-footer {
  padding: 2rem !important;
}

/* Add padding to meta */
.meta {
  padding-inline-end: var(--sl-content-pad-x);
}

/* Adjust padding on pages with hero component */
.hero ~ footer .meta {
  padding-inline-end: 2rem !important;
}

/* Add better spacing to footer */
.page-footer div {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

/* Remove default padding... */
.content-panel:has(footer) {
  padding: 0;
}

/* ... and instead add it to the content itself to allow for proper full-width borders */
.sl-markdown-content {
  padding: 1.5rem var(--sl-content-pad-x);
}

/* Link styles */
a:not(.sidebar a) {
  transition: color 0.1s ease;
  width: fit-content;
}

/* Make sure mobile links fill the entire space, not just fit the content */
nav[aria-labelledby="starlight__on-this-page--mobile"] a {
  width: 100% !important;
}

/* Adjust link color on footer */
.page-footer a {
  color: var(--sl-color-gray-2);
}

a:hover, a[aria-current="true"] {
  color: var(--sl-color-white) !important;
}

/* Adjust font fot "On this page" header */
#starlight__on-this-page {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: var(--sl-text-md);
}

/* Adjust padding for TOC */
starlight-toc a {
  padding-inline: calc(1rem * var(--depth)) var(--pad-inline) !important;
}

/* Change tab color */
a[role=tab][aria-selected=true] {
  border-color: var(--sl-color-accent) !important;
  font-weight: 400 !important;
  color: var(--sl-color-accent) !important;
}

/* Adjust file tree color & border radius */
starlight-file-tree.not-content {
  background-color: var(--sl-color-black);
  border-radius: 12px;
}

/* Change font & remove ligatures for all code & the file tree */
.expressive-code, pre, .expressive-code pre > code, code, starlight-file-tree {
  font-family: 'Space Mono', monospace !important;
  font-variant-ligatures: none !important;
}

/* Border radii adjustments & color changes for code blocks */
.expressive-code pre {
  background: var(--sl-color-gray-6) !important;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-color: var(--sl-border) !important;
}

.expressive-code .header {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.expressive-code .has-title .header {
  /* Override so border looks correct when displaying top left title for code */
  border-top-left-radius: 14px !important;
}

.header:not(:has(span)) + pre {
  border-radius: 12px !important;
}

/* Add a border to the header */
.expressive-code .header::before {
  border-color: var(--sl-border) !important;
}

.expressive-code .frame.has-title:not(.is-terminal) .header {
  background: var(--sl-color-gray-5) !important;

  span.title {
    background: var(--sl-color-gray-6) !important;
  }
}

.expressive-code .frame.is-terminal .header {
  background: var(--sl-color-gray-5) !important;
}

figcaption.header span {
  border: none !important;
  border-top-left-radius: 12px !important;
  border-left: 1px solid var(--sl-border) !important;
  border-top: 1px solid var(--sl-border) !important;
}

figcaption.header span::after {
  content: none !important;
}

.expressive-code .copy button {
  background: var(--sl-color-black) !important;
  border-radius: 8px !important;
}

.expressive-code .copy button:hover {
  background: var(--sl-color-gray-5) !important;
}

.expressive-code .copy button div {
  display: none;
}

.frame.is-terminal .header {
  border-color: var(--sl-border) !important;
}

.frame.is-terminal .header::after {
  content: none !important;
}

/* Adjust styles for search */
.pagefind-ui__search-clear::before {
  background-color: var(--sl-color-accent) !important;
}

.pagefind-ui__result-inner * {
  transition: all 0.1s ease;
}

.pagefind-ui__result-title, .pagefind-ui__result-nested {
  outline-color: var(--sl-color-accent) !important;
}

dialog {
  background-color: var(--sl-color-black) !important;
}

/* Adjust padding for markdown content to match hero section if it exists */
.hero + .sl-markdown-content {
  padding: 2rem;
}

/* Make sure the main page takes up all space if it's page with a hero because the sidebar won't exist */
.main-pane:has(.hero) {
  width: 100% !important;
}

/* Any headers containing badges should be flex headers */
:is(h1, h2, h3):has(.sl-badge-lg) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

/* Fix small misalignment in navbar links */
.flex-link svg + span {
  position: relative;
  top: 1px;
}

/* Remove default padding on main since we have a footer */
main:has(.page-footer) {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 1250px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr !important;
    --stagger-height: 0rem !important;
  }
}

@media (max-width: 72rem) {
  .main-pane {
    width: 100% !important;
  }
}