name: Unit Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - name: Install dpk
        run: |
          dart install dpk
          echo "$HOME/.local/state/Dart/install/bin" >> $GITHUB_PATH
      - run: dpk get
      - run: dpk run test
