name: Unit Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-luthor
      - name: Build generator test fixtures
        run: cd packages/luthor_generator && dart run build_runner build --delete-conflicting-outputs
      - run: dpk run test
