name: Unit Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup project
        uses: ./.github/actions/setup-luthor
      - name: Build generator test fixtures
        run: dpk run build
      - run: dpk run test
